@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Source+Sans+Pro&display=swap');

html{
    margin:0;
    padding:0;
    border:none;
    position: relative;
    min-height: 100%;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    color:rgb(51, 10, 10);
    max-width:1800px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-family: 'Source sans pro', sans serif;
    font-size:4rem;
    color:rgb(51, 10, 10);
    letter-spacing: -3px;
    text-align:center;
}

header{
    margin-bottom: 40px;
}

#menu,#logo{
    line-height: 70px;
    vertical-align: center;
    text-decoration: none;
    overflow: hidden;
}

#menu li{
    float:right;
    list-style-type: none;
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 50px;
}

#menu a{
    text-decoration: none;
    color:inherit;
}

#menu a:hover{
    background-color: rgb(51, 10, 10);
    color:white;
}


/* index intro */

#intro{
    height:700px;
    width:100%;
    overflow:hidden;
    position:relative;
    text-align: center;
    background: url(../images/main-page-chess-unsplash.jpg) no-repeat center center;
    background-size: cover;

    animation-name: chess-zoom;
    animation-duration: 3s;
    animation-fill-mode:backwards;
}

/* zoom */
@keyframes chess-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

#intro-text{
    color:white;
    width:40%;
    position: absolute;
}

#intro-text > h3{ 
    background-color: rgb(51, 10, 10);
    width:100%;
    font-size: 3rem;
    opacity: 1;
    float:right;
    position:absolute;
    margin-top: 37.5px;
    margin-left: 125px;
    padding:25px;
}

#intro-text> p{
    background-color: rgb(51, 10, 10);
    font-size: 2rem;
    opacity: 1;
    float:right;
    position:absolute;
    margin-top: 125px;
    margin-left:125px;
    padding:25px;
    width:100%;
}

/* index meet up section */
#meetup{
    height: 400px;
    background-color: rgb(51, 10, 10);
}

#meetup-intro h3{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 3rem;
    padding:33px;
}

#meetup-intro{
    font-size: 100%;
    padding:33px;
    text-align: center;
    color:white;
    font-size:1.5rem;
}

.time{
    display: inline-block;
    border:2px solid white;
    text-align:center;
    padding:1px;
    font-size: 1.5rem;
    width: 20%;
}

#time1{
    float:left;
    margin-left: 25%;
}

#time2{
    float: right;
    margin-right: 25%;
}

.meetup-box{
    background-color: rgb(51, 10, 10);
    color:white;
}

.meetup-box :hover{
    background-color: white;
    color:rgb(51, 10, 10);
}

/* index reasons to join */
#reasons{
    height:600px;
    color: rgb(51, 10, 10);
    margin-top:5rem;
    overflow: hidden;
}

#reasons ul{
    list-style: none;
    text-align: center;
    margin:0 2% 200px 2%;
    font-size: 1.5rem;
    padding:10px;
} 

#reasons h3{
    font-size: 2rem;
    margin: 0;
}

/* footer */
footer{
    height:150px;
    border-top: 3px solid rgb(51, 10, 10);
    margin-top: 47px;
    bottom:0;
    left:0;
    width:100%;
    overflow: hidden;
    max-width: 1800px;
}

.socials{
    text-align:center;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

.socials li{
    display:inline-block;
    margin-left: 50px;
    margin-right:50px;
    justify-content: center;
    text-align: center;
}

.socials li a{
    color: rgb(51, 10, 10);
    text-decoration: none;
    font-size:2rem;
}

/* sign-up page */
.form-section{
    height:600px;
    width:100%;
    margin-bottom:150px;
    overflow:hidden;
    position:relative;
    text-align: center;
    background: url(../images/sign-up-chess-pexels.jpg) ;
    background-size: cover;
    background-position:bottom;
}

#form-text> h2{
    background-color: rgb(51, 10, 10);
    width:100%;
    font-size: 3rem;
    line-height: normal;
    margin:0.1rem;
}

#form-text>label{
    font-size: 1.1rem;
    padding: 0.2rem 0 0.2rem 0;
}


#form-text>p{
    font-size: 1.1rem;
}

#form-text{
    margin: 50px 0 100px 0;
    color:#fff;
    background-color:rgb(51, 10, 10);
    text-align: center;
    width:33%;
    max-width:1800px;
    position:absolute;
    right:10%;
    padding:10px;
}

#form-text>input{
    font-size: 1.1rem;
    height:20px;
}

#form-text > #submit{
    border: white 4px solid;
    color: rgb(51, 10, 10);
    margin:10px;
    background-color: white;
    font-size: 1.5rem;
}

#form-text > #submit:hover{
    border: white 4px solid;
    color: white;
    background-color: rgb(51, 10, 10);
    font-size: 1.5rem;
}

select{
    text-align: center;
    font-family: 'source sans pro', sans-serif;
    font-size: 1.1rem;
}

.text-label{
    display: block;
}

.text-input{
    width:50%;
    text-align: center;
    margin:5px;
    height:20px;
}

.text-input:hover{
    border: rgb(151, 148, 148) 4px solid;
}
/* whats on page*/

#play-games{
    width:100%;
    max-width: 1800px;
    height: 700px;
    background: url(../images/thrown-dice-unsplash.jpg) no-repeat center center;
    background-position: center;
    background-size: cover;
    margin-bottom: 150px;
    overflow: hidden;
}

#play-games > h2{
    font-size: 3rem;
    text-align: center;
    margin:0;
    color: white;
    background-color: rgb(51, 10, 10);
}

.the-games{
    width: 100%;
    display: block;
    position: relative; 
    padding: 0; 
    text-align: center;
}

#id1{
    float:right;
    right:10%;
    width:fit-content;
    padding: 50px;
    margin-top:25%;
    position: relative;
    background-color: rgb(51, 10, 10);
    color:white;
    border: rgb(51, 10, 10) 3px solid;
}

#id2{
    float:left;
    left:45%;
    width:fit-content;
    margin-top:25%;
    padding:50px 55px;
    position: relative;
    background-color: rgb(51, 10, 10);
    color:white;
    border: rgb(51, 10, 10) 3px solid;
}

#id3{
    float:left;
    width:fit-content;
    margin-top: 25%;
    padding: 49px 60px;
    position: relative;
    background-color: rgb(51, 10, 10);
    color:white;
    border: rgb(51, 10, 10) 3px solid;
}

.overlay{
    width: 100%;
    max-width: 1800px;
    display: none;
    position: relative; 
    padding: 0; 
    text-align: center;
    overflow: hidden;
}

#ov1, #ov2, #ov3{
    width:50%;
    font-size: 2rem;
    left:25%;
    right:35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: inherit;
    border: 3px solid rgb(51, 10, 10);
}

#id1:hover ~ #ov1{
    display: flex;
    background-color: white;
}

#id2:hover ~ #ov2{
    display: flex;
    background-color: white;
}

#id3:hover ~ #ov3{
    display: flex;
    background-color: white;
}

#id1:hover{
    background-color: white;
    border: rgb(51, 10, 10) 2px solid;
    color:rgb(51, 10, 10);
}

#id2:hover{
    background-color: white;
    border: rgb(51, 10, 10) 2px solid;
    color:rgb(51, 10, 10);
}

#id3:hover{
    background-color: white;
    border: rgb(51, 10, 10) 2px solid;
    color:rgb(51, 10, 10);
}

@media only screen and (max-width: 1024px){ 
    #intro-text > h3{ 
        font-size: 2rem;
    }

    #intro-text> p{
        font-size: 1.6rem;
    }

    #meetup-intro h3{
        font-size: 2rem;
    }

    #id1{
        margin-top:2%; 
        right:10%;
        padding:0;
    }
    
    #id2{
        margin-top:2%; 
        margin-right: px; 
        padding:0;  
    }
    
    #id3{
        margin-top:2%;
        padding:0 3px; 
    }
       
    #ov1, #ov2, #ov3{
        font-size: 1.5rem;
    }

    /* sign up page */

    .form-section{
        height:650px; /* */
    }
    
    #form-text{

        width:50%; /* */
    }
    
    #form-text>input{
        font-size: 1.1rem;
        height:20px;
    }
}

@media only screen and (max-width: 425px){
    h1{ 
        font-size:2rem;  
    }

    #menu,#logo{
        line-height: 40px;
    }
    
    #menu li{
        font-size: 1.2rem;
        margin-left: 5px;
        margin-right: 10px;
    } 

    #meetup{
        height: 500px;
    }
    
    .time{
        font-size: 1rem;
    }

    #reasons{
        height: 500px;
        margin-top:4rem;
    }
    
    #reasons ul{
        font-size: 1rem;  
    } 
    
    #reasons h3{
        font-size: 1.5rem;
    }

    #form-text> h2{
        background-color: rgb(51, 10, 10);
        width:100%;
        font-size: 1.5rem;
        line-height: normal;
        margin:0.1rem;
    }
    
    #form-text>label{
        font-size: 1.1rem;
        padding: 0.2rem 0 0.2rem 0;
    }
    
    #form-text>p{
        font-size: 1.1rem;
    }
    
    footer{
        height:200px;
    }

    #play-games > h2{
        font-size: 1.5rem;
    }

    #play-games{
        height: 500px;
    }

    #ov1, #ov2, #ov3{
        font-size: 1rem;
    }

    .socials li{
        display:block;
    }
    
    .socials li a{
        font-size:1.5rem;
    }
}

@media only screen and (max-width: 320px){
    #play-games{
        height: 800px;
    }
    
    #id1{
        margin-top:2%; 
        right:1%;
        padding:0;
    }
    
    #id2{
        margin-top:2%; 
        margin-right: 0px; 
        padding:0;  
    }
    
    #id3{
        margin-top:2%;
        padding:0; 
    }

    .form-section{
        height:700px; 
    }
}

