@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Source+Sans+Pro&display=swap');

html{
    margin:0;
    padding:0;
    border:none;
    position: relative;
    min-height: 100%;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    color:#65081f;
    max-width:1800px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2{
    font-family: 'Source sans pro', sans serif;
    font-size:4rem;
    /* margin:0 0 0 50px; */
    color:#65081F;
    letter-spacing: -3px;
    text-align:center;
}

#menu,#logo{
    line-height: 70px;
    vertical-align: center;
}



#menu li{
    float:right;
    list-style-type: none;
    margin: 0 30px 0 0;
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 50px;
}

#menu a{
    text-decoration: none;
    color:inherit;
}

#menu a:hover{
    background-color: #65081F;
    color:white;
}


/* index intro */

#intro{
    height:600px;
    width:100%;
    overflow:hidden;
    position:relative;
    text-align: center;
    background: url(../images/randy-fath-G1yhU1Ej-9A-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

#intro-text{
    color:white;
    width:40%;
    position: absolute;
}

#intro-text > h3{ 
    background-color: rgb(51, 10, 10);
    width:100%;
    font-size: 3rem;
    opacity: 1;
    float:right;
    position:absolute;
    margin-top: 37.5px;
    margin-left: 25px;
    padding:25px;

}

#intro-text> p{
    background-color: rgb(51, 10, 10);
    font-size: 2rem;
    opacity: 1;
    float:right;
    position:absolute;
    margin-top: 125px;
    margin-left: 25px;
    padding:25px;
    width:100%;
}

/* index meet up section */
#meetup{
    height: 300px;
    background-color: rgb(51, 10, 10);
}

#meetup-intro h3{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 2rem;
}

#meetup-intro{
    font-size: 100%;
    padding:33px;
    text-align: center;
    color:white;
    font-size:1.5rem;
}

.time{
    display: inline-block;
    border:2px solid white;
    text-align:center;
    padding:1px;
    font-size: 1.5rem;
    width: 20%;
}

#time1{
    float:left;
    margin-left: 25%;
    background-color: white;
}

#time2{
    float: right;
    margin-right: 25%;
    background-color: white;
}

/* index reasons to join */
#reasons{
    height:500px;
    color: rgb(51, 10, 10);
    margin-top:5rem;
    overflow: hidden;
}

 #reasons ul{
    list-style: none;
    text-align: center;
    margin:0;
    font-size: 1.5rem;
    padding:0;
} 

#reasons h3{
    font-size: 2rem;
    margin: 0;
}

/* footer */
footer{
    height:150px;
    background-color: rgb(51, 10, 10);
    bottom:0;
    left:0;
    position:absolute;
    width:100%;
    overflow: hidden;
}

.socials{
    text-align:center;
    list-style: none;
}

.socials > li{
    display:inline;
    margin-left: 100px;
    margin-right:100px;
    justify-content: center;
    text-align: center;
}
