@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Source+Sans+Pro&display=swap');
.{
    margin:0;
    padding:0;
    border:none;
}

body{
   font-family: 'Source Sans Pro', sans-serif;
   font-size:100; 
   color:#e9e99c
}

/* Logo and Headers*/
header {
    color: #65081F;
    background-color: #65081F; 
    left: 0; 
    top: 0;
    width: 100%;
    position: absolute;
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color:#e9e99c;
    letter-spacing:4px;
    text-align: left;
    margin-top: 50px;
}

#logo{
    text-align: left;
}

#menu{
    font-size: 100%;
}

#menu, #logo{
    line-height: 15px;
}

#menu li{
    float:right;
    list-style-type: none;
    margin:30px;
    font-size: 1.5rem;
}

#menu a{
    text-decoration: none;
    color: #e9e99c; 
}

#menu a:hover{
    background-color: #e9e99c;
    color:#65081F;
} 
 

/* Intro section */
