@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Source+Sans+Pro&display=swap');
.{
    margin:0;
    padding:0;
    border:none;
}

body{
   font-family: 'Source Sans Pro', sans-serif;
   font-size:100; 
}

/* Logo and Headers*/
header {
    color: #e9e99c;
    background-color: #65081F;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;

}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color:#e9e99c;
    letter-spacing:4px;
    text-align: center;
}

#logo{
    text-align: center;
}

#menu{
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

#menu li{
    float: right;
    list-style-type: none;
    margin:30px;
}

#menu a{
    text-decoration: none;
    color: inherit; 
}

#menu a:hover{
    background-color: #e9e99c;
    color:#65081F;
} 
 

/* Intro section */
#intro {
    background-color: aqua;
    left: 0;
    top: 250px;
    width: 100%;
    position: absolute;
}
/* Reasons to join
#reasons{
    background-color: rgb(241, 68, 97);
}
/* meet up */
/* #meetup{
    position: relative;
    top:500px;
    background-color: #36ad12;
} */ 


/* Footer */
footer{
    background-color:#65081F;
}
